*{
    margin: 0%;
    padding: 0%;
    background-color: lightskyblue;
}
/*header*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 0.5rem;
}
.logo{
    border-radius: 90%;
    height: 100%;
    display: block;
    background-color: black;
}
.logo > img{
    border-radius: 90%;
    margin: 0.2rem 1rem;
    width: 80px;
    display: block;
}
.titulo{
    display: block;
}
.titulo > h1{
    color: white;
    font-size: 2.5rem;
    background-color: black;
}
.navbar{
    display: flex;
}
.navbar > li{
    background-color: black;
    list-style: none;
}
.nav{
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0 0.35rem;
    font-size: 1.2rem;
}
.nav:hover{
    color: red;
}
/*footer*/
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 1rem;
}
.redsoc{
    background-color: black;
}
.redes{
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
.redes:hover{
    color: red;
}
@media screen and (max-width:640px) {
    header{
        flex-direction: column;
        justify-content: center;
    }  
    .navbar{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:1024px) and (min-width:640px) {
    header{
        justify-content: center;
        align-items: center;
    }
    
}
