main{
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 4rem; 
}
.info{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 3rem;
}
.info > section > h2{
    margin-bottom: 1rem;
}
.datos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 1rem;
}
.datos > div > h3{
    font-size: 1.5rem;
}
.datos > div > p{
    font-size: 1.2rem;
}
.mapa{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 3rem;
}
iframe{
    width: 100%;
    height: 100%;
}
.formulario{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 3rem;
    margin-right: 3rem;
}
.incisos{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 5rem 5rem 1fr;
    row-gap: 2rem;
}
.incisos > div > label > input{
    font-size: 1rem;
    border-radius: 0.375rem;
} 
.botones > input{
    font-size: 1rem;
}
.incisos > div > label > select {
    font-size: 1rem;
    border-radius: 0.375rem;
}
.incisos > div > label > select > option{
    font-size: 1rem;
    border-radius: 0.375rem;
}
.incisos > div > label > p{
    font-size: 1.2rem;
}
.mensaje{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#mensajes{
    border-radius: 0.375rem;
}
#boton{
    border-radius: 0.375rem;
    cursor: pointer;
}
.botonenviar{
    margin-right: 0.5rem;
}
.botonenviar:hover{
    background-color: lightgreen;
}
.botonborrar:hover{
    background-color: lightcoral;
}

